.searchInput {
    background: #e8f1fa;
    height: 45px;
    border-radius: 10px;
    cursor: pointer !important;
    width: 100%;
    margin: 5px;
    color: #000;
    border: none;
    padding-left: 10px;
}

.searchInput::placeholder {
    color: #7e7d7d !important;
}

.searchInput:focus {
    outline: none;
}

.post-button {
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    transition: 500ms;
}

.post-button:hover {
    background-color: #e8f1fa;
}


.notification-drop {
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 999;
    width: 20vw;
    outline: none;
    overflow: hidden;
}

.feed-sort {
    display: flex;
    gap: 15px;
    overflow: auto;
}

.feed-sort div {
    padding: 5px 15px;
    border-radius: 5px;
    background: #e8f1fa;
    color: #4595D0;
    cursor: pointer;
}

.aside-profile {
    width: 250px;
    height: 70px;
    margin-bottom: 30px;
    position: relative;
    background-image: linear-gradient(135deg, #516472 50%, #97b0c7 50%);
    display: flex;
    justify-content: center;
}

.aside-profile div {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    bottom: -30px;
    margin: 0px auto;
    background: #e8f1fa;
}

.aside-profile-details {
    margin-top: 40px;
    text-align: center;
    line-height: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.aside-profile-details h6 {
    font-weight: 500;
}

.aside-profile-details p {
    font-size: 14px;
}

.post-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.badges-card {
    max-width: 250px;
}

.user-profile-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0px auto;
    background: #e8f1fa;
    overflow: hidden;
}

.background-cover {
    width: 100%;
    height: 250px;
    /* Adjust based on your desired height */
    background-size: cover;
    background-position: center;
}


.gridStyle {
    width: 95%;
    margin: auto;
    max-width: 1200px;
  }

  .gridStyleFull {
    width: 100%;
  }

  .colStyle {
    max-width: 700px;
    margin: auto;
    min-height: calc(90vh);
  }

  .scrollButton {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    border-radius: 9999px; /* Full round */
    background-color: #e5e7eb; /* neutral-200 */
    position: fixed;
    right: 2.5rem; /* 40px */
    bottom: 1.5rem; /* 24px */
    display: grid;
    place-content: center;
    transition: background-color 0.2s, box-shadow 0.2s;
  }

  .scrollButton:hover {
    background-color: #d1d5db; /* neutral-300 */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .iconStyle {
    color: #4b5563; /* neutral-700 */
    font-size: 1.125rem; /* text-lg */
  }


  .profile-header-img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  .profile-header-gradient {
    background: linear-gradient(135deg, #000000, #6fff00);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
  }

  .space-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff; /* Contrasting color */
  }

  .space-description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff; /* Less prominent but readable color */
  }
  .popover-button {
    position: absolute;
    right: 1.25rem; /* right-5 */
    top: 0.5rem; /* top-2 */
  }

  .popover-content {
    color: black;
  }

  .modal-title {
    font-size: 1.25rem; /* text-xl */
  }