---
import MainLayout from '@/layouts/main-layout.astro';
// import SearchResult from '@/components/feed/clientfeed.tsx';
import SearchResult from '@/components/search/index';

// import { userServiceGql } from '@/datasource/servers';
export const prerender = false;
const { slug: _slug, query: _query } = Astro.params;
// const searchQuery = Astro.url.searchParams.get('q') || query || '';

// let articles: never[] = [];
// let staffPicks: never[] = [];
// let topics: never[] = [];
let error = '';

try {
  // Fetch regular articles
  // Fetch staff picks
  // Fetch top active spaces for topics
} catch (e) {
  console.error('Error fetching data:', e);
  error = e instanceof Error ? e.message : String(e);
}

// const carouselItems = [
//   { image: 'https://d2wpk2fhu8mz8q.cloudfront.net/5f843ea9-7660-4adc-8937-c855061df9a2' },
// ];
---

<MainLayout title='Unisala Search'>
  {error && <div>Error: {error}</div>}
  {!error && (
    <section class='container max-w-screen-lg space-y-6 '>
      {/* <SearchCarousel
        client:load
        items={carouselItems}
        autoSlideInterval={15000}
        className='custom-class'
        showPropagation={false}
      /> */}
      <SearchResult
        client:only='react'
      />
    </section>
  )}
</MainLayout>