---
import BaseHead from "@/components/layout/base-head.astro";
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---



<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={cn("flex flex-col min-h-screen", bodyClass)}>
    <slot />
  </body>
</html>