.poll-bar {
    padding: 5px;
    width: 100%;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: #F6F6F6;
}

.bar-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    background-color: #8EC8EF;

}

.poll-bar h1,
.poll-bar h2 {
    color: black;
    align-self: center;
}