.modalContainer {
  @apply fixed left-0 top-0 z-[200] max-md:px-8 py-5 bg-black bg-opacity-30 h-full grid place-items-center w-full;
}

.modal {
  @apply h-96 max-md:h-[80vh] max-md:w-full lg:h-[500px] overflow-y-auto relative z-50 bg-white shadow-lg overflow-hidden max-w-3xl w-full;
}

.step-container {
  width: 100%;
  /* You can adjust this to a higher percentage or a fixed value */
  max-width: none;
  /* Overriding potential max-width that might be set elsewhere */
}


/*



*/

.welcomeScroll::-webkit-scrollbar-track {
  background: #c0c0c0;


}

.welcomeScroll::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.welcomeScroll::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  border-radius: 10px;

}

.welcomeScroll::-webkit-scrollbar-thumb:hover {
  background: #555;

}