.thread {
  padding: 1rem;
}

.thread-header {
  display: flex;
  align-items: center;
}

.thread_profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.thread_profile-pic>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thread_userdetails h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.threads_username {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #8f8e8e;
  position: relative;
}


.threads_date {
  font-size: 0.7rem;
  color: #999;
  font-family: sans-serif;
}

.thread_content {
  margin-top: 0.2rem;
  /* padding-left: 3.5rem; */

}

@media (max-width: 768px) {
  .thread_content {
    margin-left: 0;
  }
}

.thread_comment {
  font-size: 1rem;
  color: #4e4e4e;
}

.thread_image>img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 0.8rem;
}

.thread_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.comment_thread {
  margin: 1rem 0 0 3rem;
}

.searchbar-input {
  font-size: 14px !important;
  box-shadow: none !important;
  border-radius: 8px !important;
}

.imageModal::-webkit-scrollbar {
  display: none;
}

.imageModal::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.imageModal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

.imageModal::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-link {
  color: rgb(73, 73, 212);
  /* Set the color to blue */
  text-decoration: underline;
  /* Underline the link for clarity */
}

.post-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* for mobile phones for videos to play or view big*/
@media (max-width: 768px) {

  /* Adjust px as needed for your target mobile screen size */
  .mobile-video-style {
    width: 130%;
    margin-left: -60px;
  }
}

.ql-editor ul.ql-list {
  list-style-type: disc;
  /* or circle, square, etc., depending on the bullet style you prefer */
  padding-left: 1.5em;
  /* Adjust as needed */
}

.ql-editor ul.ql-list li.ql-indent-1 {
  padding-left: 3em;
}

.ql-editor ul.ql-list li.ql-indent-2 {
  padding-left: 6em;
}

.ql-editor ul.ql-list li.ql-indent-3 {
  padding-left: 9em;
}

.ql-editor ol.ql-list {
  list-style-type: decimal;
  /* or lower-alpha, upper-alpha, etc., for different numbering styles */
  padding-left: 1.5em;
  /* Adjust as needed */
}