---
// ThreadSuggestions.astro
import { fetchApi } from '@/utils/api.utility';
import { SimilarThread } from './similar.thread';
import { userServiceGql } from '@/datasource/servers';
// import { GetTopActiveSpaces } from '@/datasource/graphql/user';
// Declare the prop
interface Props {
  feedId?: string;
}

let { feedId = '' } = Astro.props;

const getNewsFeed = `
    query fetchFeedV2($feedQuery: FeedQueryInput) {
      fetchFeedV2(feedQuery: $feedQuery) {
        validToken
        data {
          section
          postText
          admissionAndApplicationRating
          financialAidAndScholarshipRating
          academicProgramsAndDepartmentRating
          studentLifeAndServiceRating
          careerAndAlumniResourceRating
          upVoted
          upVoteCount
          postCommentsCount
          type
          saved
          postType
          levelOfStudy
          videoURL
          postTags {
            tagType
            tag {
              _id
              name
            }
          }
          event {
            _id
            title
            description
            isRegistered
            address
            eventDate
            interestedUsers {
              userId
            }
            images
          }
          date
          _id
          images
          user {
            firstName
            lastName
            picture
            username
            _id
          }
          elevatorInfo {
            tags
            ownType
            name
            majors {
              title
            }
            pictures
            address {
              streetAddressOrPOBox
              city
              stateAbbreviation
              zipCode
            }
          }
          studentCharges {
            combinedChargeForRoomAndBoard
            undergraduateApplicationFee
            graduateApplicationFee
            unitId
            undergraduate {
              inState {
                tuition
                requiredFees
                perCreditHourCharge
              }
              outOfState {
                tuition
                requiredFees
                perCreditHourCharge
              }
              inDistrict {
                tuition
                requiredFees
                perCreditHourCharge
              }
              onCampus {
                costOfAttendance {
                  inDistrict
                  inState
                  outOfState
                }
                roomAndBoard
                otherExpenses
              }
              offCampusWithFamily {
                costOfAttendance {
                  inDistrict
                  inState
                  outOfState
                }
                roomAndBoard
                otherExpenses
              }
              offCampusNotWithFamily {
                costOfAttendance {
                  inDistrict
                  inState
                  outOfState
                }
                roomAndBoard
                otherExpenses
              }
              booksAndSupplies
            }
            graduate {
              inState {
                tuition
                requiredFees
                perCreditHourCharge
              }
              outOfState {
                tuition
                requiredFees
                perCreditHourCharge
              }
              inDistrict {
                tuition
                requiredFees
                perCreditHourCharge
              }
            }
          }
          suggestedOrgs {
            name
            type
            spaces {
              _id
              name
              description
              image
            }
          }
          suggestedSpace {
            type
            name
            spaces {
              _id
              name
              description
              image
            }
          }
          userEvaluation {
            unitId
            rankings {
              rank
              title
              totalPlayers
            }
            report {
              academics
              average
              value
              diversity
              campus
              atheltics
              partyScene
              professors
              location
              dorms
              campusFood
              studentLife
              safety
            }
            reviews {
              rating
              type
              votes
            }
          }
          unitId
          applied_level
          status
          attempt
          university
          conversation
          major
        }
      }
    }
`;

let posts = [];
let error = '';

try {

  const result = await fetchApi(userServiceGql, {
    method: 'POST',
    body: JSON.stringify({
      query: getNewsFeed,
      variables: {
        feedQuery: {
          feedType: 'user',
          feedId,
          page: 0
        }
      }
    })
  });

  if (result.errors) {
    throw new Error(result.errors[0].message);
  }
  posts = result.data?.fetchFeedV2?.data || [];

} catch (e) {
  console.error('Error fetching feed:', e);
  error = e instanceof Error ? e.message : String(e);
}



---

{error && <div>Error: {error}</div>}

{
  !error &&  posts.length > 0 && (
    <SimilarThread
      client:only="react"
      id="writer"
      articles={posts}
      title="More from the writer"
      titleDescription="We use an agile approach to test assumptions and connect with the needs of your audience early and often."
    />
  )
}
