---
interface Props {
    authorId: string;
    author: string;
    authorDescription: string;
}

const { authorId, author, authorDescription } = Astro.props;
---

<section
    class="relative isolate overflow-hidden bg-white dark:bg-gray-900 px-6 py-12 sm:py-16 lg:px-8"
>
    <div
        class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] dark:bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.900),black)] opacity-20"
    >
    </div>
    <div
        class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white dark:bg-gray-800 shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 dark:ring-indigo-900 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"
    >
    </div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl">

        <figure class="mt-4">
            <blockquote
                class="text-center text-xl font-bold leading-8 text-gray-900 dark:text-gray-100 sm:text-3xl sm:leading-9"
            >
                <a href={`/signature/${authorId}`} data-astro-reload>
                    <p>Written by {author}</p>
                </a>
            </blockquote>
            <figcaption class="mt-6">
                <div
                    class="flex items-center justify-center space-x-3 text-base"
                >
                    <svg
                        viewBox="0 0 2 2"
                        width="3"
                        height="3"
                        aria-hidden="true"
                        class="fill-gray-900 dark:fill-gray-100"
                    >
                        <circle cx="1" cy="1" r="1"></circle>
                    </svg>
                    <div class="text-gray-600 dark:text-gray-400">
                        {authorDescription}
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
</section>
