---
import MainLayout from "@/layouts/main-layout.astro";
import ScholarshipCard from "@/components/scholarship/ScholarshipCard.astro";
import Filter from "@/components/scholarship/Filter";
---

<MainLayout title="Discover Scholarships">
  <div class="container">
    <section class="">
      <div class="flex justify-between scholarship-header flex-col">
        <div class="scholarship-title">
          <h1 class="font-bold">Available Scholarships</h1>
        </div>
        <Filter client:only="react" />
      </div>

      <div class="grid-container">
        <ScholarshipCard />
        <ScholarshipCard />
        <ScholarshipCard />
        <ScholarshipCard />
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .scholarship-title {
    color: #006eff;
    margin-left: 5px;
    font-size: 1.5rem;
  }
  .scholarship-header {
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: #006eff;
    margin-left: 5px;
    font-size: 1.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 1rem;
  }
</style>
