---
import MainLayout from "@/layouts/main-layout.astro";
import ScholarshipCard from "@/components/scholarship/ScholarshipCard.astro";
import ScholarShip from "@/components/scholarship/ScholarShip";
import { fetchApi } from "@/utils/api.utility";
import "../styles/scholarship.css";
import { universityServiceGql } from "@/datasource/servers";
let data = [];

const query = `query searchScholarshipV2(
      $scholarshipType: ScholarshipTypeEnum
      $level: LevelTypeEnum
      $internationalSpecific: Boolean
      $transferSpecific: Boolean
      $forUndergraduate: Boolean
      $forGraduate: Boolean
      $gpa: RangeInput
      $act: RangeInput
      $sat: RangeInput
      $gre: RangeInput
      $gmat: RangeInput
      $page: Int
      $pageSize: Int
    ) {
      searchScholarshipV2(
        scholarshipType: $scholarshipType
        level: $level
        internationalSpecific: $internationalSpecific
        transferSpecific: $transferSpecific
        forUndergraduate: $forUndergraduate
        forGraduate: $forGraduate
        gpa: $gpa
        act: $act
        sat: $sat
        gre: $gre
        gmat: $gmat
        page: $page
        pageSize: $pageSize
      ) {
          unitId
        university_name
        scholarship_name
        scholarship_type
        international_specific
        level
        transfer_specific
        scholarship_url
        gpa {
          max
          min
        }
        act {
          max
          min
        }
        sat {
          max
          min
        }
        awards {
          award_name
          scholarship_amount {
            amount
            disbursement_schedule
          }
        }
        application_requirements
        application_deadline
        eligible_majors
        duration
        duration_description
        special_instructions
        non_score_eligibility_requirements
        stackable
        }} `;
try {
  console.log("fetching astro scholarships *************** ");
  const result = await fetchApi(universityServiceGql, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      query,

      variables: {
        level: "Graduate",
        pageSize: 10,
      },
    }),
  });
  data = result.data.searchScholarshipV2;
} catch (error) {
  console.log("something went wrong in astro scholarships", error);
}
---

<MainLayout title="Discover Scholarships">
  <div class="container">
    <section class="">
      <div class="flex justify-between scholarship-header flex-col">
        <div class="scholarship-title">
          <h1 class="font-bold">Available Scholarships</h1>
        </div>

        <ScholarShip client:only="react" />
      </div>

      <div class="grid-container astro-scholarship">
        {
          data?.length > 0 &&
            data.map((scholarship: any) => {
              return <ScholarshipCard scholarship={scholarship} />;
            })
        }
      </div>
    </section>
  </div>
</MainLayout>

<style>
  .scholarship-title {
    color: #006eff;
    margin-left: 5px;
    font-size: 1.5rem;
  }
  .scholarship-header {
    margin-bottom: 2rem;
    margin-top: 3rem;
    color: #006eff;
    margin-left: 5px;
    font-size: 1.5rem;
  }
</style>
