.average-report{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.report{
    height: 80px;
    width:80px;
    background-color: #28BA62;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 45px;
    color: #fff;
    margin: auto;
}
.small-report{
    height: 50px;
    width:50px;
    background-color: rgb(212, 212, 31);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
}
.card-report{
    height: 30px;
    width:30px;
    background-color: #28BA62;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #fff;
}