.search-results-wrapper {
  width: calc(100% - 370px);
}

.filter-col {
  max-width: 366px;
  padding-inline: unset;
  /* height: max-content !important; */
}


.filter-col::-webkit-scrollbar {
  width: 0px;
}

.filter-col-container {
  position: sticky;
  top: 20px;
}

.select-placeholder {
  opacity: 1 !important;
}

select-wrapper-inner {
  width: 100 !important;
  justify-content: space-between !important;
}


.results-col {
  width: calc(100% - 320px);

}

.results-header-card {
  margin-inline: auto;
}