---
import WelcomeFormLayout from "@/components/layout/Welcome-form-Layout.astro";
---

<WelcomeFormLayout
  ImageAlt="first-step image"
  title="Welcomeform"
  ImageSrc={"https://d2wpk2fhu8mz8q.cloudfront.net/uni-student-bg.webp"}
  className="w-[48%] px-7 pointer-events-none"
  step={1}
>
  <div class="text-neutral-900 h-full grid place-content-center">
    <div class="mb-8">
      <h1 class="text-center font-bold text-4xl">Welcome to Unisala 🌟</h1>
      <p></p>
      <p class="form-info">
        <p class="" data-text="Where your journey becomes a beacon for countless others...">
        A place where your journey becomes a beacon for countless others.
        Where connections spark revolutions in thought and action.
        </p>
         
        <p class="form-info font-bold mt-4">This is Unisala. Your stage. Your audience. Your impact.</p>
      </p>
      <a  id="getStartedLink" href="step-one" class="block">
        <button class="btn">Get Started</button>
      </a>
    </div>
  </div>

  <script>
    // Get the current URL
    const currentUrl = new URL(window.location.href);
    
    // Get the redirect parameter
    const redirect = currentUrl.searchParams.get('redirect');
    
    // Get the link element
    const link = document.getElementById('getStartedLink') as HTMLAnchorElement;
    
    if (link && redirect) {
      // Append the redirect to the existing href
      link.href = `${link?.href}?redirect=${encodeURIComponent(redirect)}`;
    }
  </script>

</WelcomeFormLayout>

<style>
  .form-info {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 3rem;
    max-width: 800px;
    width: 100%;
    text-align: center;
  }

  .btn {
    background-color: #4e89ff;
    color: #ffff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 17px;
    width: 9rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
</style>
