@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Manrope, sans-serif !important;
}


@layer utilities {

    .BorderCard {
        @apply shadow-none border border-neutral-300 rounded-md
    }
}


.left-container {
    width: 100%;
    max-width: 300px;
}

.right-container {
    width: 100%;
    max-width: 300px;
}

.main-container {
    width: 100%;
    max-width: 900px;
}