---
import { Image } from "astro:assets";
---

<section>
  <div class="py-32">
    <div class="container max-w-7xl">
      <div class="relative">
        <div class="relative z-10 grid grid-cols-6 gap-3">
          {/* First card */}
        
           

          {/* Second card */}
      

          {/* Third card */}
      
          {/* Second row */}
        

        </div>
      </div>
    </div>
  </div>
</section>
