---
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
import { buttonVariants } from '../ui/button';
import { cn } from '@/lib/utils';
---

<div class="flex justify-center space-x-2 md:space-x-4">
    <a
      href="/home"
      class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2 bg-purple-500 text-white hover:bg-purple-600")}
      >
      <span>Go to Unisala App</span>
      <Icon name="lucide:arrow-right" class="size-4" />
    </a>
    <a
      href={siteConfig.links.github}
      target="_blank"
      rel="noreferrer"
      class={cn(
        buttonVariants({
          variant: "outline",
          size: "lg",
          rounded: "full",
        }),
        "px-5"
      )}
    >
     
    </a>
  </div>