---
import { siteConfig } from "@/config/site";
import { Icon } from "astro-icon/components";
import { buttonVariants } from '../ui/button';
import { cn } from '@/lib/utils';
---

<div class="flex justify-center space-x-2 md:space-x-4">
    <a
      href="/login"
      class={cn(buttonVariants({ size: "lg", rounded: "full" }), "gap-2 bg-purple-500 text-white hover:bg-purple-600")}
      >
      <span>Go to Unisala App</span>
      <Icon name="lucide:arrow-right" class="size-4" />
    </a>

  </div>