---
import { cn } from '@/lib/utils';
import { buttonVariants } from '@/components/ui/button';
import GoToUnisalaPortal from './goToUnisalaPortal.astro';
import { Image } from 'astro:assets';
---

<section class='space-y-6 py-12 sm:py-20 lg:py-20'>
  <div class='container flex max-w-5xl flex-col items-center gap-5 text-center'>
    <a
      href='https://twitter.com/miickasmt'
      class={cn(
        buttonVariants({ variant: 'outline', size: 'sm', rounded: 'full' }),
        'px-4'
      )}
      target='_blank'
    >
      <span class='mr-3'>🎉</span> Bridging Continents, Creating Scholars{' '}
    </a>

    <h1
      class='text-balance font-heading text-4xl sm:text-5xl md:text-6xl lg:text-[66px]'
    >
      Learn, Connect, Succeed – {' '}
      <span class='text-gradient_indigo-purple font-extrabold'> Together </span>
    </h1>

    <p
      class='max-w-2xl text-balance leading-normal text-muted-foreground sm:text-xl sm:leading-8'
    >
      Unisala is designed for international students, alumni, and student
      organizations. It offers resources and networking opportunities for each
      stage of the educational journey.
    </p>

    <div class='mx-auto max-w-lg'>
      <Image
        class='w-full h-auto object-cover object-center'
        src={'/images/unisala-app-portal.webp'}
        alt={'data.title'}
        width={500}
        height={200}
        loading='eager'
      />
    </div>



    <GoToUnisalaPortal />
  </div>
</section>
