/* Global styles.css or in your component's local CSS file */
@media (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

.grid-container {
  max-width: 1200px;
  /* Adjust this value based on your content and design preference */
  margin-left: auto;
  margin-right: auto;
}


.layout-content {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  /* Ensures that the Content fills its parent */
  background-color: black;
}

.layout-row {
  max-width: 1200px;
  /* Your desired max width */
  width: 100%;
  /* Allows responsive width */
  margin: auto;
  margin-top: 20px;
  /* Centers the Row */
}

@media (max-width: 768px) {
  .layout-row {
    margin-top: 80px; /* Increased top margin for mobile */
  }
}
.layout-col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Aligns items to the top */
}

ion-content {
  --background: #F0F2F5
}
